<nav ng-class="getNavStyle(scroll)">
  <button ng-click="goPrevious()"><span>&lt;</span></button>
  <button ng-click="goNext()"><span>&gt;</span></button>

  <button ng-click="zoomIn()"><span>+</span></button>
  <button ng-click="fit()"><span>100%</span></button>
  <button ng-click="zoomOut()"><span>-</span></button>

  <button ng-click="rotate()"><span>90</span></button>

  <span>Page: </span>
  <input type="text" min=1 ng-model="pageNum">
  <span> / {{pageCount}}</span>

  &nbsp;&nbsp;
  <span>Document URL: </span>
  <input type="text" ng-model="pdfUrl">
</nav>

<hr>

{{loading}}
<canvas id="pdf" class="rotate0"></canvas>
