<nav ng-class="getNavStyle(scroll)">
  <button ng-click="pdfConfig.goPrevious()"><span>&lt;</span></button>
  <button ng-click="pdfConfig.goNext()"><span>&gt;</span></button>

  <button ng-click="pdfConfig.zoomIn()"><span>+</span></button>
  <button ng-click="pdfConfig.fit()"><span>100%</span></button>
  <button ng-click="pdfConfig.zoomOut()"><span>-</span></button>

  <button ng-click="pdfConfig.rotateLeft()"><span>rotate left</span></button>
  <button ng-click="pdfConfig.rotateRight()"><span>rotate right</span></button>

  <span>Page: </span>
  <input type="text" min=1 ng-model="pageNum">
  <span> / {{pageCount}}</span>

  &nbsp;&nbsp;
  <span>Document URL: </span>
  <input type="text" ng-model="pdfUrl">
</nav>

<hr>

{{loading}}
